.square {
    float:left;
    width: 32%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:0.35%;
    background-color: #1E1E1E;
}
.bottom-menu {
	margin-top: 37%;
	font-family: 'Nova Square', cursive;
	font-size: 150%;
}
.header-text {
	margin-top:5%;
	font-family: 'Leckerli One', cursive;
	color:black;
}
.about-text {
	margin-top:10%;
	font-family: 'Nova Square', cursive;
	color:black;
}
.sidenav{
	background-color:#111;
	height:100%;
	left:0;
	overflow-x:hidden;
	padding-top:60px;
	position:fixed;
	top:0;
	transition:.5s;
	width:0;
	z-index:1;
}
.sidenav a {
	color:#c0c0c0;
	display:block;
	font-size:25px;
	padding:8px 8px 8px 32px;
	text-decoration:none;
	transition:.3s;
	font-family: 'Nova Square', cursive;
}

.sidenav a:hover,.offcanvas a:focus{
	color:#f1f1f1;
}
.sidenav .closebtn{
	font-size:36px;
	margin-left:50px;
	position:absolute;
	right:25px;
	top:0;
}
@media screen and max-height 450px {
.sidenav {padding-top:15px;}
.sidenav a {font-size:18px;}
}

h4.card-title {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 20%;
	margin-right: -20%;
	
}

h4.card-title-1 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left:  13%;
	margin-right: -20%;
	max-width: 80%;
}

h4.card-title-2 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 22%;
	margin-right: -20%;
}

h4.card-title-3 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 17%;
	margin-right: -20%;
}

h4.card-title-4 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 14%;
	margin-right: -20%;
}

h4.card-title-5 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 30%;
	margin-right: -20%;
}

h4.card-title-6 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 25%;
	margin-right: -20%;
}
h4.card-title-7 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 16%;
	margin-right: -20%;
}
h4.card-title-8 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 10%;
	margin-right: -20%;
}
h4.card-title-9 {
	font-family: 'Kanit', sans-serif;
	font-size: 200%;
	color: white;
	margin-top: 40%;
	margin-bottom: -40%;
	margin-left: 30%;
	margin-right: -20%;
}
   /*==========  Mobile First Method  ==========*/
 /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 90%;}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
 h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 130%;} 
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
  h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 100%;} 
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 150%;} 
    
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
 h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 180%;} 
    }
    
       @media only screen and (min-width : 1400px) {
 h4.card-title-1, h4.card-title-2, h4.card-title-3, h4.card-title-4, h4.card-title-5, h4.card-title-6, h4.card-title-7, h4.card-title-8, h4.card-title-9 {font-size: 200%;} 
    }

   
.square:hover {
	background-color: #FFE303;
	
}
h4:hover {
	margin-left: 20%;
	color: black;
}
#footer-container {
    margin:0;
    padding:0;
}
#footer-header-text {
	margin-left: 40%;
	}
